model-viewer {
    
    width: 100%; height: 600px; max-width: 100%; margin: 0 auto;
}
html,
body {
  width: 100%;
  height: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
h1 {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #4f0b7b;
    text-align: center;
}
 p {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
 }

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.hotspot {
  display: block;
  width: 11px;
  height: 11px;
  border-radius: 10px;
  border: none;
  background-color: blue;
  box-sizing: border-box;
  pointer-events: none;
}
.hotspot[slot="hotspot-visor"] {
  --min-hotspot-opacity: 0;
  background-color: #e0119d;
}
.hotspot[slot="hotspot-etiqueta"] {
  --min-hotspot-opacity: 0;
  background-color: #e0119d;
}
.hotspot[slot="hotspot-boquilla"] {
  --min-hotspot-opacity: 0;
  background-color: #e0119d;
}

.hotspot[slot="hotspot-manilla"] {
  --min-hotspot-opacity: 0;
  background-color: #e0119d;
}
.hotspot[slot="hotspot-manometro"] {
  --min-hotspot-opacity: 0;
  background-color: #e0119d;
}
.hotspot[slot="hotspot-cilindro"] {
  --min-hotspot-opacity: 0;
  background-color: #e0119d;
}
.hotspot[slot="hotspot-pasador"] {
  --min-hotspot-opacity: 1;
  /* cuando el pasador esté “delante” (max), lo oculto */
  --max-hotspot-opacity: 0;;
  background-color: #e0119d;
  
}


.annotation {
  background-color: #b6b6b6;
  position: absolute;
  transform: translate(10px, 10px);
  border-radius: 10px;
  padding: 10px;
}

/* This keeps child nodes hidden while the element loads */
:not(:defined) > * {
  display: none;
}